.buy-section {
  display: flex;
  flex-direction: column;
  width: 194px;
  height: 202px;
  border-radius: 18px;
  background-color: #ffffff;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
.buy-section__rectangle {
  width: 119px;
  height: 73px;
  background-image: linear-gradient(
    to right,
    #ff9f00,
    #ff9322,
    #ff8734,
    #ff7c43,
    #ff7350,
    #ff6a68,
    #ff6580,
    #fe6597,
    #ec70bd,
    #cc80dc,
    #a090f1,
    #689ef8
  );
  border-radius: 11px;
}

.buy-section__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-section__buy-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #343951;
}
.buy-section__buy-text--upgrade {
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.05em;
  color: #858a9d;
}
