.recently-used__header {
  display: flex;
  justify-content: space-between;
  width: 527px;
  margin-left: 16px;
  align-items: center;
}
.recently-used__icons {
  width: 40px;
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.recently-used__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: #343951;
}
